<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf8">
        <meta http-equiv="content-language" content="en-us">
        <meta href="{global.baseurl}" />
        <title>{head.title} | {global.appName}</title>
        <meta name="description" content="{head.description}">

        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
        <script src="public/app.js"></script>
        <link rel="stylesheet" href="public/app.css">
    </head>
    <body class="{body.class}">
        <div class="wrapper"></div>

        <div class="header">
            <a href="/" class="logo"></a>

            <ul class="menu">
                <a href="/">Home</a>
                <a href="/" class="loggedOut">Signup</a>
                <a href="" class="loggedOut">Login</a>
                <a href="/" class="loggedIn">Dashboard</a>
                <a href="/" class="loggedIn">Account Settings</a>
                <a href="/" class="loggedIn">Logout</a>
            </ul>
        </div>

        <div class="content">

